<app-aviso></app-aviso>
<nav
  class="navbar navbar-light navbar-expand-lg"
  style="background-color: #0071ce;"
>
  <img class="logo-lider" src="https://www.lider.cl/images/logo.svg" alt="" />
  <button
    type="button"
    class="btn btn-primary mr-5 p-2"
    data-toggle="button"
    aria-pressed="false"
  >
    <i class="fas fa-bars"></i>
    Categorias
  </button>
  <form class="form-inline">
    <div class="form-group">
      <span class="fa fa-search form-control-icon"></span>
      <input
        #txtBuscador
        name="txtBuscador"
        type="text"
        class="form-control"
        placeholder="¿Que estas buscando?"
        (keyup)="buscar(txtBuscador.value)"
      />
    </div>
    <button
      type="button"
      class="btn btn-primary mr-3 p-2"
      data-toggle="button"
      aria-pressed="false"
      style="height: 45px;"
    >
      <svg
        width="1.8em"
        height="1.8em"
        viewBox="0 0 16 16"
        class="bi bi-cart3 colorsvg"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
        />
      </svg>
      <div class="md-chip-icon">0</div>
    </button>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="button"
      aria-pressed="false"
      style="height: 45px; background: rgb(26, 146, 32);"
    >
      <i class="fas fa-shopping-basket"></i>
      Supermercado
    </button>
  </form>
</nav>

<div class="resultado">
  <p>Resulatdo para</p>
  <span>{{ txtBuscador.value }}:</span>
  <span *ngIf="!resultado">No hay resultados...</span>
</div>
